/* 
THIS IS A COMMENT/ALSO MULTILINE
*/

/* 
BOOKS
https://wtf.tw/ref/duckett.pdf

*/

/* 
BOX MODEL
https://css-tricks.com/the-css-box-model/
*/

/* 
GRID
https://css-tricks.com/snippets/css/complete-guide-grid/
*/

/* 
FLEXBOX
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

/* 
RESPONSIVE WEB DESIGN
https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/
*/