/* 
THIS IS A COMMENT/ALSO MULTILINE
*/

/* 
BOOKS
https://wtf.tw/ref/duckett.pdf

*/

/* 
BOX MODEL
https://css-tricks.com/the-css-box-model/
*/

/* 
GRID
https://css-tricks.com/snippets/css/complete-guide-grid/
*/

/* 
FLEXBOX
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

/* 
RESPONSIVE WEB DESIGN
https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/
*/

.container{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    gap: 1rem;  
    grid-template-rows: 2fr auto 2fr;
    grid-template-columns: 2fr 2fr auto 2fr 2fr;
    grid-template-areas: 
    "header header header header"
    "nav-left content nav-right"
    "footer footer footer footer";
}

.header{
    grid-area: header;
}

.footer{
    grid-area: footer;
}

.content{
    grid-area: content;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }