<!-- THIS IS A COMMENT/ALSO MULTILINE -->

<!-- 

    FUNDAMENTALS: https://www.internetingishard.com/

 -->
<!-- 

    CHALLENGE

    A basic(responsive) html page with a form to post to a backend and display a list of responses?

 -->

<!-- 
     BIOLERPLATE 
    https://www.sitepoint.com/a-basic-html5-template/

    -->
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>HTML5 BOILERPLATE</title>
  <meta name="description" content="HTML5 BOILERPLATE" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="SitePoint" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/styles.fundamentals.css" />
</head>

{{{body}}}

</html>