<!-- THIS IS A COMMENT/ALSO MULTILINE -->

<!-- 

    FUNDAMENTALS: https://www.internetingishard.com/

 -->
<!-- 

    CHALLENGE

    A basic(responsive) html page with a form to post to a backend and display a list of responses?

 -->

<!-- 
     BIOLERPLATE 
    https://www.sitepoint.com/a-basic-html5-template/

    -->
    <!DOCTYPE html>

    <html lang="en">
      <head>
        <meta charset="utf-8" />
    
        <title>HTML5 BOILERPLATE</title>
        <meta name="description" content="HTML5 BOILERPLATE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="SitePoint" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/styles.fundamentals.css" />
      </head>
    
      <body>
        <div
          class="wrapper"
          style="background: url('images/dawn.jpg') no-repeat right center"
        >
          <div class="inner">
            <form action="http://127.0.0.1:3000/user/create" method="POST">
              <h3>Register</h3>
                <div class="form-wrapper">
                  <label for="">Name *</label>
                  <input
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Your Name"
                  />
                </div>
                <div class="form-wrapper">
                  <label for="">Email *</label>
                  <input
                    name="email"
                    type="email"
                    class="form-control"
                    placeholder="Your Email"
                  />
                </div>
    
                <div class="form-wrapper">
                  <label for="">Phone *</label>
                  <input
                    name="phone"
                    type="text"
                    class="form-control"
                    placeholder="Phone"
                  />
                </div>
              
    
              <div class="checkbox">
                <label>
                  <input type="checkbox" />
                  remember me
                  <span class="checkmark"></span>
                </label>
              </div>
              <button data-text="Sign up" type="submit">
                <span>Sign up</span>
              </button>
            </form>
          </div>
        </div>
    
        <script src="js/jquery-3.3.1.min.js"></script>
    
        <script src="js/main.js"></script>
    
        <script>
          /* 
              PLACE CHALLENGE CODE HERE THAT DEALS WITH DON MANIPULATION
              */
        </script>
    
        <script
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"
        ></script>
      </body>
    </html>
    